.nav-bar {
  z-index: 10;
  background-color:#45484A;
  overflow:hidden;
  position:fixed;
  width:100%;
  top:0;
  left:0
  }
.nav-bar a{
  float:left;color:#f2f2f2;text-align:center;text-decoration:none;font-size:16px;padding-top:12px;height:40px;width:25%
  }
.nav-bar a:hover{
  background-color:#2A252E;color:white
  }
@media screen and (max-width: 600px){
  .nav-bar{
    position:fixed;float:left;background-color:#0d467a;
    }
    .contact-bar{
      position:fixed;float:right;background-color:#0d467a;
    }
  }


.contact-bar{
  background-color:#45484A;overflow:hidden;position:fixed;width:100%;bottom:0;left:0
  }
.contact-bar a{
  float:left;color:#f2f2f2;text-align:center;text-decoration:none;font-size:16px;width:25%
  }
.contact-bar a:hover{
  background-color:#2A252E;color:white
  }
a[href*="github.com/"]{
  background:url(https://github.com/favicon.ico) no-repeat left center;padding:20px 0px 20px;text-decoration:none;color:black
  }
  a[href*="instagram.com/"]{
  background:url(https://instagram.com/favicon.ico) no-repeat left center;padding:20px 0px 20px;text-decoration:none;color:black
  }
a[href*="twitter.com/"]{
  background:url(https://twitter.com/favicon.ico) no-repeat left center;padding:20px 0px 20px;text-decoration:none;color:black
  }
a[href*="reddit.com/"]{
  background:url(https://reddit.com/favicon.ico) no-repeat left center;padding:20px 0px 20px;text-decoration:none;color:black
  }
h2{
  text-align:center;font-family:Anton;font-size:25px
}
.projects{
  background-color:#C19E6B;margin:20px 20px 60px;padding-bottom:40px
  }
.welcome-section{
  padding-top:50px;padding-left:20px;padding-right:20px;height:50vh;background-color:#FAE7B1
  }
img{width:100%}
p{padding-bottom:70px;text-align:center}
h1{text-align:center}
body{background-color:#FAE7B1}
.text{
  color:black;margin-top:90px;margin-left:5%;margin-right:5%;text-align:center;font-family:Anton;font-size:25px
}
