/* Unordered List */

.unordered {
list-style-type: square;
background: #110F1E;
padding: 20px;
width: 30%;
font-family: 'Harrington', fantasy;
font-size: 1.3em;
margin: 0 auto;
}

.unordered li {
background: #6C5F62;
margin: 5px;
}

/* Ordered List */

.ordered {
  background: #C1C299;
  padding: 20px;
  width: 20%;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  margin: 0 auto;
}

.ordered li {
  background: #DFE0D0;
  padding: 5px;
  margin-left: 20px;
}

/* Custom Box List */

.custom-box-list {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  background: #6C5F62;
  list-style-type: none;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  color: white;
}

.custom-box-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-box-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #110F1E;
  color: gold;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  font-family: 'Harrington', fantasy;
}

/* style icon list */
.list-image {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  background: #DFE0D0;
  list-style-type: none;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  color: black;
}

.list-image li {
  position: relative;
  padding-left: 60px;
  line-height: 300%;
}

.list-image li:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('../images/alien.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* style href icon list */
.popular-sites {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  background: #6C5F62;
  list-style-type: none;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  color: black;
}

.popular-sites li {
  position: relative;
  padding-left: 60px;
  line-height: 300%;
}

.popular-sites li a {
  text-decoration: none;
  color: gold;
}

.popular-sites li:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('../images/link.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* style tables */

table, th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,td {
  padding: 20px;
  text-align: center;
}

caption {
  caption-side: bottom;
  text-align: center;
  font-family: 'Harrington', fantasy;
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

.table-simple {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
}

.table-simple th {
  background-color: black;
  color: white;
}

.table-simple tr:nth-child(even) {
  background-color: #DFE0D0;
}

.table-simple tr:nth-child(odd) {
  background-color: #6C5F62;
}

.table-simple tr:hover {
  background-color: #506691;
}

.table1 {
  margin: 0 auto;
  background-color: #DFE0D0;
}

.table1:hover {
  background-color: blue;
  color: gold;
}

.table2 {
  margin: 0 auto;
  background-color: #6C5F62;
}

.table2:hover {
  background-color: #506691;
  color: white;
}

.head-body-foot {
  margin: 0 auto;
}

.head-body-foot thead {
  background-color: black;
  color: white;
}

.head-body-foot thead:hover {
  background-color: #506691;
}

.head-body-foot tbody {
  color: rgb(182, 212, 182);
  font-weight: bold;
  background-color: #6C5F62;
}

.head-body-foot tbody:hover {
  background-color: #acffe3;
  color: black;
}

.head-body-foot tfoot {
  color: black;
  background-color: #DFE0D0;
  font-weight:bold ;
}

.head-body-foot tfoot:hover {
  background-color: gold;
}

/* scrolling table */
.scroll-bar {
  margin: 0 auto;
  overflow-x: auto;
  width: 50%;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
}

/* table with image */
.table-image {
  margin: 0 auto;
}

/* generated table */
.GeneratedTable {
  margin: 0 auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
}

table.GeneratedTable {
  width: 50%;
  background-color: #c5c9e7;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
}

table.GeneratedTable thead {
  background-color: #4752f0;
}

table.GeneratedTable img {
  height: 50px;
  width: 50px;
}

/* style footer */
footer {
  margin-top: 30px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #0f2377;
}
