/* Unordered List */

.unordered {
list-style-type: square;
background: #110F1E;
padding: 20px;
width: 30%;
font-family: 'Harrington', fantasy;
font-size: 1.3em;
margin: 0 auto;
}

.unordered li {
background: #6C5F62;
margin: 5px;
}

/* Ordered List */

.ordered {
  background: #C1C299;
  padding: 20px;
  width: 20%;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  margin: 0 auto;
}

.ordered li {
  background: #DFE0D0;
  padding: 5px;
  margin-left: 20px;
}

/* Custom Box List */

.custom-box-list {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  background: #6C5F62;
  list-style-type: none;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  color: white;
}

.custom-box-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-box-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #110F1E;
  color: gold;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  font-family: 'Harrington', fantasy;
}

/* style icon list */
.list-image {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  background: #DFE0D0;
  list-style-type: none;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  color: black;
}

.list-image li {
  position: relative;
  padding-left: 60px;
  line-height: 300%;
}

.list-image li:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('alien.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* style href icon list */
.popular-sites {
  margin: 0 auto;
  padding: 20px;
  width: 20%;
  background: #6C5F62;
  list-style-type: none;
  font-family: 'Harrington', fantasy;
  font-size: 1.3em;
  color: black;
}

.popular-sites li {
  position: relative;
  padding-left: 60px;
  line-height: 300%;
}

.popular-sites li a {
  text-decoration: none;
  color: gold;
}

.popular-sites li:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('link.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #0f2377;
}
